<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Static</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<div>
  <div>
  <h1>LAYOUT STATIC H1</h1>
  <p>This is the main content of the page.</p>
  {{ comp.button({ content: 'Click Me' }) }}
  {{ comp.before_after() }}
</div>
</body>
</html>