<!DOCTYPE html>
<html lang="ru">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Посмотрим - Дизайн-ревью</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
<div class="layout">
    <main class="main-content">
   <img src="assets/images/Posmotrim.svg" alt="Посмотрим Logo">
    <h1>ПОСМОТРИМ</h1>
    </main>

</div>
</body>
</html>