// Sidebar Layout

.sidebar {
  background-color: $color-background;
  display: none;
  
  @include media-min($breakpoint-lg) {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: $sidebar-width;
    max-width: calc(100vw / 3); // Maximum 1/3 of screen width
    z-index: 10;
  }
  
  &__inner {
    padding: $spacing-2xl;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    @include media-min($breakpoint-lg) {
      padding: $spacing-3xl;
    }
  }
  
  &__logo {
    margin-bottom: $spacing-xl;
    
    img {
      height: 2rem;
    }
  }

  
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $spacing-xl;
    
    h1 {
      margin-bottom: $spacing-md; // 16px
    }
  }
  
  &__nav {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    
    ul {
      display: flex;
      flex-direction: column;
      gap: $spacing-md;
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    li {
      list-style: none;
    }
  }
  
  &__contacts {
    margin-top: auto;
    display: flex;
    gap: $spacing-lg;
    justify-content: center;
  }
}

// Navigation Links
.nav-link {
  @include label-large;
  color: $color-text-secondary;
  @include transition(color);
  
  &:hover {
    color: $color-text-primary;
  }
  
  &-disabled {
    @include label-large;
    color: $color-gray-400;
  }
}

// Contact Links
.contact-link {
  @include label-large;
  color: $color-text-secondary;
  @include transition(color);
  flex: 1 1 0%;
  text-align: center;
  
  &:hover {
    color: $color-text-primary;
  }
}