// Sidebar Layout

.sidebar {

  
  @include media-min($breakpoint-lg) {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: $sidebar-width;
    max-width: calc(100vw / 3); // Maximum 1/3 of screen width
    z-index: 10;

  }

  h2 { 
    @include display-medium;
       margin-bottom: $spacing-md;
  }
  
  &__nav {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    
  }
  
  &__contacts {
    display: flex;
    gap: $spacing-lg;
    justify-content: center;
  }
}
