$color-white: #FFFFFF;
$color-black: #000000;

$color-background: hsl(240, 1%, 78%);
$color-accent: #84f75a;
$color-accent-hover: #1c6408;
$color-accent-active: #165305;
$color-text-primary: #0F100E;
$color-text-secondary: #3D3D3D;

// Градиентные цвета для секций
$gradient-design: rgba(255, 182, 193, 0.3); // Светло-розовый
$gradient-identity: rgba(173, 216, 230, 0.3); // Светло-голубой
$gradient-brandbook: rgba(255, 218, 185, 0.3); // Персиковый
$gradient-website: rgba(221, 160, 221, 0.3); // Светло-фиолетовый


