$color-white: #FFFFFF;
$color-black: #000000;

$color-background: hsl(240, 1%, 78%);
$color-accent: #84f75a;
$color-accent-hover: #1c6408;
$color-accent-active: #165305;
$color-text-primary: #0F100E;
$color-text-secondary: #3D3D3D;


