$color-white: #FFFFFF;
$color-black: #000000;

$color-background: hsl(240, 1%, 78%);
$color-accent: #84f75a;
$color-accent-hover: #1c6408;
$color-accent-active: #165305;
$color-text-primary: #0F100E;
$color-text-secondary: #3D3D3D;

// Градиентные цвета для секций
$gradient-design: rgba(248, 132, 205, 0.5); // #f884cd - Розовый
$gradient-identity: rgba(148, 139, 241, 0.5); // #948bf1 - Фиолетовый
$gradient-brandbook: rgba(232, 241, 139, 0.5); // #e8f18b - Желто-зеленый
$gradient-website: rgba(123, 226, 246, 0.5); // #7be2f6 - Голубой


